.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: blanchedalmond;
    color: black;
    width: min-content;
    max-width: 50%;
}

.container h2 {
    text-wrap: nowrap;
}

.book {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.byLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    text-wrap: nowrap;
    align-items: baseline;
}

.isbn {
    margin-top: 1em;
    font-size: x-small;
    text-align: right;
}

.synopsis {
    margin-top: 0.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}

.binding {
    display: inline-block;
    color: darkgrey;
    margin-left: 1em;
}

.publisher {
    font-size: x-small;
    vertical-align: bottom;
    padding-left: 1em;
}
